[submodule "Movie_Trailer_Website/Movie_Trailer_Website/ud036_StarterCode"]
	path = Movie_Trailer_Website/Movie_Trailer_Website/ud036_StarterCode
	url = https://github.com/ashokjain001/ud036_StarterCode.git
